html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, em, font, img, strong, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
	border:0 none;
	margin:0;
	outline:0 none;
	padding:0;
}

body {
	font:12px/1.416em Helvetica,Arial,sans-serif;
	letter-spacing:0;
	text-decoration:none;
	word-spacing:normal;
}
.edit {
	display: none;	
	text-align: left;
}
.edit a {
	color: #aaaaaa;	
	text-align: left;	
}
.edit a {
	color: #cccccc;	
}
.wrapper {
	margin:0 auto;
	padding:0;
	width:960px;
}
#main-nav {
	width:960px;
	height: 35px;
}
#main-nav ul {
	float:left;
	margin:10px;
}
#main-nav li {
	background:url("/public/images/arrow_right.gif") no-repeat scroll right center transparent;
	display:block;
	float:left;
	padding:0 14px;
	position:relative;
	text-align:left;
}

#basic-content.content-area  {
	color:#5E5E5E;
	background:url("/public/images/tieto_logo2.gif") no-repeat scroll right bottom #FFFFFF;
	border-bottom:1px solid #99CC33;
	border-top:1px solid #99CC33;
	float: left;
	min-height:360px;
}
.content-area {
	text-align:left;
	width:960px;
}

.main-content .left-menu {
	min-height:360px;
	float:left;
	width:180px;
	padding:10px 0px 10px 0px;
}
#basic-content.content-area .left-menu {
	background:none repeat scroll 0 0 #FFFFFF;
	width:180px;
}
#basic-content.content-area #main-area {
	background:none repeat scroll 0 0 transparent;
	border-left:1px solid #99CC33;
	width:770px;
}
.main-content #main-area {
	float:left;
	height:360px;
	text-align:left;
	width:780px;
	height:auto !important;
	min-height:360px;
}
#basic-content.content-area .main-content #main-area .content div {
	color:#5E5E5E;
}
#basic-content.content-area #main-area h1 {
	color: #5E5E5E;
	padding: 10px 10px 10px 0;
	margin: 10px 10px 0 0px;
}
#basic-content.content-area #main-area h2 {
	color: #5E5E5E;
	padding: 10px 10px 0px 0;
	margin: 10px 10px 0 0px;
}
h1, h2, h3, p {
	line-height: 1.3em;	
}
#basic-content.content-area .content p {
	line-height: 1.3em;		
}
.main-content #main-area .content p, .main-content #main-area .content ul, .main-content #main-area .content ol {
	margin-bottom: 10px;
}
.main-content #main-area .content {
	height: auto;
	min-height: 239px;
}
#basic-content.content-area .content {
	color:#5E5E5E;
	float:left;
	padding:10px 10px 20px 30px;
	width:510px;
}

#basic-content.content-area .content ul {
	list-style: outside;
	padding-left: 18px;
}
#basic-content.content-area .content ol {
	list-style: decimal;
	padding-left: 18px;
}
#basic-content.content-area li {
	padding-bottom:4px;
}
.main-content .left-menu ul li {
	padding:15px 0;
}
select, input, li, textarea {
	font-family:Helvetica,Arial,sans-serif;
	font-size:12px;
}
#basic-content.content-area .left-menu ul {
	padding:10px 20px 10px 10px;
	list-style: none;
}
a {
	color:#5E5E5E;
	text-decoration:none;
}

#cms {
	margin: auto;
	border: 1px solid #aaaaaa;
	padding: 10px;
}

#popup {
	height: 100%;
	width: 100%;
	background: #000000;
	position: absolute;
	top: 0;
	-moz-opacity:0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	filter:alpha(opacity=75);
}
#window {
	width: 680px;
	height: 450px;
	margin: 0 auto;
	border: 1px solid #000000;
	background: #cecece;
	position: absolute;
	top: 100px;
	left: 25%;
	padding: 20px;
}