#{extends 'main.html' /}
#{set title:page.title /}

<div class="wrapper">

	<div id="main-nav">
		<a href="index.html">Startseite</a>
		<ul>
			#{list items:mainmenu, as:'mainmenu'}
				<li>
					<a href="${mainmenu.url}.html">${mainmenu.title}</a>
				</li>
			#{/list}		
		</ul>
	</div>
	
	<div id="basic-content" class="content-area">
		<div class="main-content">
			<div class="left-menu"> 
				#{list items:submenu, as:'submenu'}
					<ul>
						<li>
							<a href="${submenu.url}.html">${submenu.title}</a>
						</li>
					</ul>
				#{/list}			
			</div>
			
			<div id="main-area">
				<div class="content">
					#{verbatim}
					    ${content.content}
					#{/verbatim}	
				</div>	
			</div>

		</div>
	</div>
</div>
